.navbar {
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0px 15px;
  top: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.nav-right {
  display: flex;
  margin-right: 35px;
}

.nav-left {
  padding: 10px 0px;
  margin: auto 0px;
  display: flex;
}

.logo-img {
  max-height: 45px;
  cursor: pointer;
}

.logo-img:hover {
  transform: scale(1.1);
}

.search-container {
  margin: auto 0px;
  margin-left: 35px;
}

.search-bar {
  height: 38px;
  width: 275px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.search-btn {
  height: 40px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgb(219, 219, 219);
}

.navigation {
  color: white;
  text-decoration: none;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  padding: 18px 25px;
  font-size: 18px;
}

.navigation:hover {
  transition: 0.25s ease;
  text-decoration: underline white;
  background-color: rgb(30, 30, 30);
}

.inHome {
  background-color: rgb(25, 25, 25);
}

.inFav {
  background-color: rgb(25, 25, 25);
}