.card{
  margin-top: 50px;
  border: 5px solid rgb(252, 233, 101);
  border-radius: 10px 0px 10px 0px;
  background-color: rgba(114, 21, 5, 0.705);
  box-shadow: 0px 0px 18px rgb(252, 233, 101);
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transition: 0.35s ease;
  transform: scale(1.1);
  box-shadow: 0px 0px 35px rgb(252, 233, 101);
}

.name{
  border-right: 5px solid rgb(252, 233, 101);
  border-bottom: 5px solid rgb(252, 233, 101);
  border-radius: 0px 0px 10px 0px;
  margin: 0px;
  padding: 3px 10px;
  background-color: white;
}

.card-top {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  max-height: 32px;
}

.card-img {
  width: 175px;
}

.fav-img {
  height: 25px;
  margin: 5px 5px 0px 0px;
  border-radius: 33% 33% 50% 50%;
  display: none;
}

.card:hover .fav-img {
  transition: 0.25s ease;
  display: block;
}

.fav-img:hover {
  transform: scale(1.1);
}